/* .App {
  text-align: center;
} */

/* .App-header {
  background-color: #d6ccc2;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto; */
/* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .page-title {
  position: absolute;
  height: 103px;
  left: 10vw;
  top: 2vh;
  color: #000000;
  font-size: 85px;
  font-family: "Abhaya Libre ExtraBold";
  letter-spacing: 0.15em;
}

.search-bar {
  position: absolute;
  color: #5b5959;
  width: 50vw;
  left: 10vw;
  top: 25vh;
  opacity: 0.4;
  margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: row;
}

.search-field {
  width: 100%;
  padding: 15px 35px 10px 30px;
  border: none;
  border-radius: 30px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -40px;
}

.search-icon {
  height: 18px;
  object-fit: cover;
} */
