body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ============== OVERALL PAGE STYLING ============== */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-container {
  background-color: #d6ccc2;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* ============== LANDING PAGE ============== */

.landing-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.landing-title {
  font-size: 10vw;
  font-family: "Abhaya Libre ExtraBold";
  letter-spacing: 0.18rem;
  opacity: 0.8;
  align-items: center;
  margin-top: 12rem;
  text-shadow: white -6px 5px;
  margin-bottom: -0.5vw;
}

.landing-login-button {
  background-color: #faedcd;
  color: #5b5959;
  border-radius: 50px;
  width: 9vw;
  height: 4vw;
  border: none;
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  letter-spacing: 0.01rem;
}

.landing-login-button:hover {
  background-color: #fae29f;
  cursor: pointer;
}

.landing-guest-button {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-family: "Abhaya Libre ExtraBold";
  font-style: italic;
  font-weight: 600;
  font-size: 2vw;
}

.landing-guest-button:hover {
  color: #fae29f;
}

@media screen and (max-width: 1000px) {
  .landing-title {
    font-size: 20vw;
    margin-top: 10rem;
    text-shadow: white -0.6vw 0.7vw;
  }

  .landing-login-button {
    margin-top: 0.8vw;
  }
}

@media screen and (min-width: 1000px) {
  .landing-login-button {
    width: 7vw;
    height: 3vw;
    font-size: 1.5vw;
  }
  .landing-guest-button {
    font-size: 1.5vw;
  }
}

/* ============== PAGE HEADER [TITLE + SEARCH BAR] ============== */

.header-title {
  font-size: 11vh;
  font-family: "Abhaya Libre ExtraBold";
  letter-spacing: 0.18rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  opacity: 0.8;
}

.search {
  /* when we call "flex" here, the items such as the search icon & the search bar will align by themselves! */
  display: flex;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.4;
  border-radius: 20px;
  /* add padding so the search icon and search input are spaced out from the sides of the search bar */
  padding: 5px;
  /* margin-bottom to space out the search bar from the list of notes */
  margin-bottom: 2em;
}

.search input {
  border: none;
  background-color: #ffffff;
  color: #5b5959;
  flex: 1;
}

/* focus -- refers to the border box when you click on the input */
.search input:focus {
  outline: none;
}

/* ============== PAGE CONTENT [DISPLAY NOTES] ============== */
.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 250px));
}

.note {
  background: #ffffff;
  opacity: 0.7;
  border-radius: 30px;
  padding: 1rem;
  min-height: 170px;
  /* to arrange items in a single row */
  display: flex;
  /* rearrange the items in column */
  flex-direction: column;
  /* evenly space the items within the note container */
  justify-content: space-between;
  white-space: pre-wrap;
  overflow: hidden;
}

/* --------- [DISPLAY NOTES] Note Title --------- */
.noteTitle-content {
  overflow: auto;
  max-height: 48px;
}

.note-title {
  font-size: 1.2rem;
  color: #000000;
  font-weight: bold;
  overflow-wrap: break-word;
}

/* --------- [DISPLAY NOTES] Note Text --------- */
.noteText-content {
  overflow: auto;
  max-height: 240px;
}

.note-description {
  font-size: 0.8rem;
  color: #000000;
  overflow-wrap: break-word;
  margin-top: 10px;
  margin-bottom: auto;
}

/* --------- [DISPLAY NOTES] Note Footer --------- */
.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ============== PAGE CONTENT [ADD NEW NOTE] ============== */
.note.new {
  background-color: #baaaaa;
  min-height: 170px;
  /* min-width: 150px */
  /* to include @media */
}

/* --------- [ADD NEW NOTE] Note Title --------- */
.new-note-title {
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: bold;
}

/* --------- [ADD NEW NOTE] Note Text --------- */
textarea.add-note {
  background-color: #baaaaa;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  border: none;
  resize: none;
  border-radius: 10px;
}

textarea.add-note:focus {
  outline: none;
}

/* --------- [ADD NEW NOTE] Save Button --------- */
.save-newNote-button {
  background-color: #ffffff;
  color: #383636;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save-newNote-button:hover {
  background-color: #faedcd;
  cursor: pointer;
}

/* ============== PAGE RESPONSIVENESS [SMALLER SCREEN] ============== */
@media screen and (max-width: 600px) {
  .notes-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 500px));
  }

  .note {
    min-width: 150px;
  }

  .note.new {
    min-width: 150px;
  }
}

/* ============== PAGE RESPONSIVENESS [BIGGER SCREEN] ============== */
@media screen and (min-width: 1200px) {
  .notes-list {
    grid-template-columns: repeat(auto-fit, minmax(240px, 340px));
  }

  .note {
    min-width: 240px;
  }

  .note.new {
    min-width: 240px;
  }
}

/* ============== PAGE CONTENT [EDIT NOTE] ============== */

/* .update-textField {
  background: #ffffff;
  opacity: 0.7;
  margin-top: 1rem;
  margin-bottom: auto;
  height: 6rem;
} */

/* NEED TO FIX THISSSS!!!! ADD @MEDIA */
.edit-note-title {
  font-size: 1.2rem;
  color: #000000;
  font-weight: bold;
  border: none;
  background-color: #ffffff;
  outline: none;
  overflow: scroll;
}

textarea.edit-note {
  background-color: transparent;
  color: #000000;
  font-size: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  border: 3px inset #baaaaa;
  resize: none;
  margin-bottom: auto;
  margin-top: 15px;
  min-height: 10vh;
}

textarea.edit-note:focus {
  outline: none;
}

/* ============== PAGE CONTENT [NOTE FOOTER] ============== */
.edit-note-button {
  background-color: #d9d9d9;
  opacity: 0.9;
  border: none;
  border-radius: 30px;
  padding: 5px 13px 5px 13px;
  margin-left: auto;
  margin-right: 8px;
}

.edit-note-button:hover {
  background-color: #baaaaa;
  color: #ffffff;
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
}

.expand-icon {
  cursor: pointer;
  padding-left: 8px;
}

.collapse-icon {
  cursor: pointer;
  padding-left: 8px;
}

/* ============== NOTE EXPANDABLE VIEW ============== */
.expanded {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #d6ccc2;
  border: 10px outset #baaaaa;
  opacity: 1;
  padding: 50px;
  margin: 30px;
  /* margin: 0 auto; */
  overflow: auto;
}
